<div class="album text-muted">
  
  <div class="container">
    
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      
      <% if logged_in?(:site_admin) %>
        <div class='btn btn-primary btn-block' id="new-portfolio">
          <%= link_to "Create New Portfolio Item", new_portfolio_path %>
        </div>
      <% end %>
      
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      
      <%= source_helper("portfolio") %>
    </div>
    
  </div>
</div>




<!--
<a href="portfolios/new">Create New Item</a> <br>
<p>Portfolio Path (relative path):<br>
  <%= new_portfolio_path %>
</p>
<p>Portfolio URL:<br>
  <%= new_portfolio_url %>
</p>
-->
